/* Home.html */
.sig-list {
  margin: 5%;
}
.bcontent {
  margin-top: 10px;
}
.card-img-main {
  margin: 2%;
  max-height: 200px;
  max-width: 300px !important;
  border-radius: calc(0.25rem - 1px);
}
.card-img-main-div {
  height: 210px;
}
.nav-right {
  justify-content: start !important;
}
body {
  background-color: #61a733;
}
.editor-btn {
  float: right;
}
.n-item {
  margin-right: 1rem;
}
