.drag {
  /* width: 100px; */
  /* height: 50px; */
  background-color: #f1f1f1;
  margin: 2px;
  cursor: pointer;
  z-index: 100;
  /* padding:10px;  */
}
/* .ns {
        border-width: 1px;
        border-style: solid;
      }
      .we {
        border-width: 1px;
        border-style: solid;
      } */
.data {
  border-width: 1px;
  border-style: solid;
  /* min-width: 80px;
        min-height: 40px; */
  /* background-color :aqua;  */
}
.data2 {
  border-width: 1px;
  border-style: solid;
  border-color: darkred;

  /* min-width: 80px;
        min-height: 40px; */
  /* background-color :aqua;  */
}
.data3 {
  border-width: 1px;
  border-style: solid;
  border-color: green;
  /* min-width: 80px;
        min-height: 40px; */
  /* background-color :aqua;  */
}
#drop {
  display: table;
  /* width: 550px;
	      height: 250px;  */
  min-width: 150px;
  min-height: 50px;
  float: left;
  margin: 10px;
  background-color: #f1f1f1;
  /* padding:10px;  */
  width: auto;
  height: auto;
  /* overflow:auto */
}

.ph-table {
  display: table;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.ph-table-row {
  display: table-row;
}
.ph-table-col {
  /* display:table-cell; */
  /* float: left; */
  display: table-column;
  position: relative;
}
.ph-table-cell {
  display: table-cell;
  vertical-align: top;
  /* background-color: red; */
  /* width: 100%;
          height: 10px; */
}
/* .drop {
          display: table-cell;
        } */
/* .vertical {
        float: left;
        vertical-align: bottom;
      } */

.ns {
  height: 5px;
  width: 100%;
  z-index: 100;
  /* margin: 0px 1px 0px 1px; */
  /* margin: 1px 0px 1px 0px; */
  /* background-color: #0f0; */
}
.we {
  height: 100%;
  width: 5px;
  z-index: 100;
  /* margin: 0px 1px 0px 1px; */
  /* margin: 1px 0px 1px 0px; */
  /* background-color: #0f0; */
}
.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
}
.panelPreview {
  width: 350px;
  height: 380px;
  display: table;
  float: right;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: whitesmoke;
  padding: 10px;
}
.panel {
  width: 150px;
  height: 300px;
  display: table;
  padding: 10px;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: whitesmoke;
}

.toolbox-table {
  margin-bottom: 0;
}

.icon-list {
  height: 31px;
}

.button-list {
  width: 160px;
  border: 1px solid grey;
  margin-top: 3px;
}
.icon-tab {
  margin: 0 auto;
}
.nav-link {
  padding: 2px !important;
}
.delDrop {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 5%;
  background-color: #f443369c;
  color: white;
}
.delDropHover {
  /* position: fixed;
  width: 100%;
  bottom: 0;
  height: 5%; */
  background-color: #f44336 !important;
}

.ui-state-hover {
  background-color: deepskyblue !important;
}

.ui-mouse-enter {
  background-color: deepskyblue !important;
  height: 30px !important;
  width: 30px !important;
}

/* Tables */

.editor-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 50px;
  min-height: 50px;
  border: 1px dotted blue;
}

.editor-td,
.editor-th {
  border-collapse: separate;
  border: 1px dotted blue;
  text-align: left;
}

.editor-tr {
  border-collapse: separate;
  border: 1px dashed blue;
}

.tableDrop {
}

/* Home.html */
.sig-list {
  margin: 5%;
}
.bcontent {
  margin-top: 10px;
}
.card-img-main {
  margin: 2%;
}
.nav-right {
  justify-content: start !important;
}
body {
  background-color: #61a733;
}
.editor-btn {
  float: right;
}
.n-item {
  margin-right: 1rem;
}

.submenu {
  background-color: #61a733;
  color: white;
}
